body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    color: black;
    background-color: #4070f4;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #707070;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #fff;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #707070;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="submit"] {
        width: 100%;
    }
}
