{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>About Doc Mashinani</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <!-- img src="assets/webinar-chws-oped-hero-1.jpeg" class="pic" !-->
      <div class="text">
        <h2 class="h2">About Us</h2>
        <h5>Doc mashinani <span>Tiba mkononi</span></h5>
          <p>At Doc Mashinani, we understand the importance of accessible and personalized healthcare. Our virtual assistant is here to assist you every step of the way, offering a range of features tailored to your needs. Whether you're looking to access medical information, or receive personalized health tips, our virtual assistant is at your service 24/7.</p>
        <div class="data">
        <a href="{% url 'index.html' %}" class="hire">Home</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>